<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="MyUtilitySettings" type="Common.Configs.MyUtilitySettings, Common" />
  </configSections>

  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="dailyhelperwebapi.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="1MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>

  <MyUtilitySettings>
    <!--Meeting-->
    <MeetingSettings
      ExchangeUrl="https://outlook.office365.com/EWS/Exchange.asmx"
      ScopeUrl="https://outlook.office.com/EWS.AccessAsUser.All"
      StatusRecepientTo="##Weekly status manager email.##"
      StatusRecepientCC="##Weekly status your team mate email comma seprated.##"
      SendStatusSubject="Weekly Status"
      ZoomCallTip="zoom"
      SkypeCallTip="meet."
      AppId="##AppId for app registered in Azure.##"
      TenantId="##TenantId for app registered in Azure.##">
    </MeetingSettings>

    <!--Report/Status-->
    <!--DayOfWeek.Thursday Starting with Sunday as 0 and Saturday as 6-->
    <ReportSettings
      ConfluenceTableSelector="//*[@id='main-content']/div[1]/table"
      EnableStoryPoints="false"
      ConfluenceBase="##Your company confluence base.##"
      ConfluenceUserStatusLink="https://{0}/display/CM/{1}"
      ConfluencePageApiUrl="https://{0}/rest/api/content/{1}?expand=body.storage,version"
      ConfluencePageUrl="https://{0}/display/CM/Jira+Tracker"
      AlertPageId="144929243"
      LastStatusDayIndex="4"
      ReportFrequency="7"
      CustomTask="#OTHER: "
      StatusReportTemplate="ReportTemplate.cshtml"
      Users="Nadeem">
    </ReportSettings>

    <!--Stash-->
    <StashSettings
      QA="##Your team QA username##"
      StashBase="##Your Company Stash Base##"
      StashProject="##Your project name.##"
      StashRepo="##Your repo name##"
      StashPRsLink="https://{0}/rest/api/latest/inbox/pull-requests?role=AUTHOR&amp;start=0&amp;limit=10&amp;avatarSize=64&amp;withAttributes=true&amp;state=OPEN&amp;order=oldest"
      CustomStashPullRequests="https://{0}/rest/api/latest/projects/{1}/repos/{2}/pull-requests/{3}"
      StashMerge="https://{0}/rest/api/latest/projects/{1}/repos/{2}/pull-requests/{3}/merge"
      StashMergePost="https://{0}/rest/api/latest/projects/{1}/repos/{2}/pull-requests/{3}/merge?version={4}"
      StashRebase="https://{0}/rest/git/latest/projects/{1}/repos/{2}/pull-requests/{3}/rebase"
      StashApprove="https://{0}/rest/api/latest/projects/{1}/repos/{2}/pull-requests/{3}/approve"
      StashOverview="https://{0}/plugins/servlet/bb_rb/projects/{1}/repos/{2}/pull-requests/{3}/overview?sticky=" >
    </StashSettings>

    <!--Jira-->
    <JiraSettings
      JiraBase="##Your Company Jira Base##"
      StoryPointField="##You can verify it by inspecting any jira task story field##"
      JiraStoryPointLink="https://{0}/jira/rest/api/latest/issue/{1}?fields={2}"
      JiraStatusLink="https://{0}/jira/rest/api/latest/issue/{1}?fields=status"
      JiraTypeLink="https://{0}/jira/rest/api/latest/issue/{1}?fields=issuetype"
      JiraSummaryLink="https://{0}/jira/rest/api/latest/issue/{1}?fields=summary"
      JiraPriorityLink="https://{0}/jira/rest/api/latest/issue/{1}?fields=priority"
      JiraTaskIdentifier="## The task identifier which will be plugged as a prefix with each task##"
      JiraStatusChange="https://{0}/jira/rest/api/latest/issue/{1}/transitions?expand=transitions.fields"
      JiraAssigneeDetails="https://{0}/jira/rest/api/latest/issue/{1}?fields=assignee"
      JiraAssigneeSet="https://{0}/jira/rest/api/latest/issue/{1}/assignee"
      QueryJiraWithCustomQuery="https://{0}/jira/rest/api/latest/search?jql={1}"
      QueryJira="https://{0}/jira/rest/api/latest/search?jql=issuetype+%3D+{1}+AND+%22Planned+Onboarding%22+%3E+{2}+AND+%22Planned+Onboarding%22+%3C%3D+{3}+AND+project+not+in+%28hw%29+AND+project+%3D+{4}+AND+%22Release+Onboarding+Status%22+%3D+{5}"
      GetJiraId="https://{0}/jira/rest/api/latest/issue/{1}?fields=id"
      GetJiraPRs="https://{0}/rest/dev-status/latest/issue/detail?issueId={1}&amp;applicationType=stash&amp;dataType=pullrequest">
    </JiraSettings>

    <!--Notification-->
    <NotificationSettings
      DeviceID="##When you sign up a device id will be assigned.##"
      SendNotificationUrl="https://wirepusher.com/send?id={0}&amp;title={1}&amp;message={2}&amp;type={3}"
      ClearAllNotificationUrl="https://wirepusher.com/send?id={0}&amp;type=wirepusher_clear_all_notifications"
      ClearANotificationUrl="https://wirepusher.com/send?id={0}&amp;type=wirepusher_clear_notification&amp;message_id={1}" >
    </NotificationSettings>

    <!--Common-->
    <CommonSettings
      SaltSize="##Salz size in int to encrypt decrypt password.##"
      EncryptPassword="##encryption password any random text##"
      FileName="EncryptedData.txt">
    </CommonSettings>
  </MyUtilitySettings>

  <appSettings>
    <!--Meeting-->
    <add key="IncrementInDays" value="1" />
    <add key="InitialDurationInMinutes" value="60" />
    <add key="InitialDurationExcludeExpiredMeetings" value="false" />
    <add key="HideMeeting" value="false" />

    <!--Status-->
    <add key="HideStatus" value="false" />

    <!--Stash-->
    <add key="TimerFrequencyInMinutes" value="30" />
    <add key="HideStash" value="false" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2" maxQueryStringLength="32768" maxUrlLength="65536" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.5.0" newVersion="5.11.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.0.0" newVersion="6.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.6.0" newVersion="5.11.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

<system.webServer>
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

  <security>
    <requestFiltering>
      <requestLimits maxQueryString="32768" />
    </requestFiltering>
  </security>

  </system.webServer>
<system.codedom>
<compilers>
<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
</compilers>
</system.codedom>

  <system.diagnostics>
    <switches>
      <add name="Microsoft.Owin" value="Verbose" />
    </switches>
  </system.diagnostics>
</configuration>
